<.header>
  New Checklist
  <:subtitle>Use this form to manage checklist records in your database.</:subtitle>
</.header>

<.checklist_form changeset={@changeset} action={~p"/checklists"} />

<.back navigate={~p"/checklists"}>Back to checklists</.back>
