<.header class="mb-12">
    About
</.header>

<p class="leading-8">This is cklist version {Application.spec(:cklist, :vsn)}.</p>
<p class="leading-8">Built with phoenix version {Application.spec(:phoenix, :vsn)}.</p>
